@import url(main.css);

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 300px;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 100%;
}

.nav-link {
  font-weight: bold;
}

.input-download {
  padding: 13.5px 70px;
  margin: 0;
  margin-bottom: 10px;
}

.arrow-icon::before {
  content: "\2192";
  font-size: 20px;
}

.btn-start {
  border: none;
  padding: 12px;
  border-radius: 3px;
}

.info-app {
  margin-top: 7rem;
}

/* Card Group */

.card-layout .card-group {
  margin-left: -10px;
  margin-right: -10px;
}

.card-layout .card-group .card {
  margin-left: 10px;
  margin-right: 10px;
}

.card-layout .card-group .card:first-child {
  margin-left: 0;
}

.card-layout .card-group .card:last-child {
  margin-right: 0;
}

.col-sm img {
  width: 125px;
}

/* FAQ */

.section-title {
  margin-top: 5rem;
}

.accordion {
  margin: 0 100px;
  margin-top: 30px;
  background: white;
}

.accordion-button:hover {
  background: var(--secondary-color);
}

/* Media Queries */

@media (max-width: 576px) {
  .navbar-brand img {
    margin-left: 10px;
  }
  .navbar-nav {
    margin-left: 0;
    margin-top: 10px;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .info-app {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .information-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .accordion-item {
    width: 100%;
  }
}
