@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --primary-color: #ff0000;
  --secondary-color: #ff6347;
  --accent-color: #ffa500;
  --neutral-color: #333333;
  --background-color: #ffffff;
  --footer-content: #777777;
  --primary-font: "Roboto", Arial, sans-serif;
  --secondary-font: "Lato", Arial, sans-serif;
}

h1 {
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--secondary-font);
}

p {
  font-family: var(--secondary-font);
}

.button {
  background: var(--primary-color);
  color: var(--background-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background: var(--secondary-color);
}

body {
  font-family: var(--primary-font);
}

/* Navbar */
.navbar {
  background: var(--primary-color);
}

.navbar-brand img {
  margin-left: 10rem;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav {
  margin-left: 50rem;
}

.navbar-nav a {
  color: var(--background-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  margin-top: 10rem; /* Ajusta el margen superior según sea necesario */
}

.footer-content {
  color: var(--footer-content);
  font-size: 14px;
}

.footer-content p {
  margin-top: 10px;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-content li {
  display: inline;
  margin-right: 10px;
}

.footer-content li:last-child {
  margin-right: 0;
}

.footer-content a {
  color: var(--background-color);
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content p {
  color: black;
}
