nav {
  background-color: #c70039;
}

.nav-link {
  color: #fff;
}

.nav-link:hover:focus {
  color: #ff6969;
}

.navbar-logo-img {
  width: 200px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.nav-toggler {
  border-color: #fff;
  background: #fff;
}

.form-container {
  width: 600px;
}

.card {
  border: none;
}

.custom-card-body {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.download-btn {
  background: #c70039;
  color: #fff;
  border-color: #c70039;
}

.download-btn:hover:focus {
  background-color: #ff6969;
  border-color: #c70039;
  color: #fff;
}
