nav {
  background-color: #c70039;
}

.nav-link {
  color: #fff;
}

.nav-link:hover:focus {
  color: #ff6969;
}

.navbar-logo-img {
  width: 200px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.nav-toggler {
  border-color: #fff;
  background: #fff;
}

.dropdown-toggle {
  background: #c70039;
  border: none;
  color: #fff;
}

.dropdown-toggle:hover:focus {
  color: #fff;
  background: #ff6969;
}

.card {
  border: none;
}

.custom-card-body {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.download-btn {
  background: #c70039;
  color: #fff;
  border-color: #c70039;
}

.download-btn:hover:focus {
  background-color: #ff6969;
  border-color: #c70039;
  color: #fff;
}

/* Steps to download */
.dw_steps-list li {
  list-style: number;
}

/* Features Section */

.step-image {
  width: 50px;
  margin: 10px 0;
}

/* Footer */

footer {
  background: #c70039;
}

.footer-container {
  color: #141e46;
  padding: 10px 0;
}

.footer-container p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.footer-container li {
  list-style: none;
}

.list-group li:hover {
  color: #fff;
}

/* Custom Displays 📺  */

@media (min-width: 768px) {
  .form-container {
    margin: 0 80px;
  }
  .custom-form-control {
    margin: 0 50px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    margin: 0 150px;
  }

  .custom-form-control {
    margin: 0 60px;
  }

  .step_list-container ul {
    margin: 0px 100px;
  }
}

@media (min-width: 1440px) {
  .form-container {
    margin: 0 300px;
  }
  .custom-form-control {
    margin: 0 80px;
  }
}

@media (min-width: 2560px) {
  .form-container {
    margin: 0 300px;
  }
}
